{% extends 'base.html' %} {% block content %}

<style>
    .price-tags {
        font-size: 14px;
    }
    
    .rounded {
        border-radius: 10px !important;
    }
    
    .image {
        height: 250px;
    }
    
    img {
        height: 100%;
        object-fit: cover;
    }
</style>

<div class="columns is-multiline mb-6">
    <div class="column is-12 has-text-centered mt-6 mb-6">
        <h2 class="is-size-3">{{ category.title }}</h2>
    </div>

    <div class="container">
        <div class="row">
            {% for goproduct in category.goproducts.all %}
            <div class="col-6 g-1">
                <div class="column is-3 product-list-item container">
                    <div class="row">
                        <figure class="col-12 image is-4by3 img-fluid">
                            <img src="{{ goproduct.get_thumbnail }}" class="rounded w-100 py-0 my-0">
                        </figure>
                    </div>
                    <span class="row"><h3 class="col-12">Product Name</h3></span>
                    <span class="row"><p class="col-12 my-0">Product Description</p></span>
                    <div class="col-12 my-0">
                        <div class="row d-flex">
                            <span class="col-3"><p class="price-tags"><small>&#8377;800</small></p></span>
                            <span class="col-3"><p class="price-tags"><small><strike>&#8377;1200</strike></small></p></span>
                            <span class="col-4"><p class="price-tags"><small>20% OFF</small></p></span>
                            <a href="{% url 'goproduct' goproduct.category.slug goproduct.slug %}">View</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock %}